.eventSticker{
    min-width: 10ch;
    position: absolute;
    box-sizing: border-box;
    border-right: 4px hidden transparent;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
}
.stickerTitle{
    margin: 0;
    max-height: 16px;
    font-size: 12px;
}

.stickerSubtitle {
    max-height: 13px;
    font-size: 11px;
    text-align: left;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
    text-overflow: ellipsis;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    margin: 0;
}

.campus {
    max-height: 13px;
    font-size: 8px;
    overflow-wrap: break-word;
    text-decoration: underline;
    word-break: break-all;
    text-overflow: ellipsis;
    margin: 0;
}

.darkmodetext {
    color: white;
}