.eventSticker{
    min-width: 10ch;
    position: absolute;
    box-sizing: border-box;
    border-right: 4px hidden transparent;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
}
.stickerTitle{
    margin: 0;
    max-height: 16px;
    font-size: 16px;
}
.stickerSubtitle{
    max-height: 13px;
    font-size: 0.6rem;
    text-align: left;
    overflow-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
}