.schedule{
    border: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow-x: scroll;
}
.emptyTimeCol{
    width: 5%;
    min-width: 50px;
}

.emptyTimeCol, .scheduleUpperDay{

    border-right-style: solid;
    border-right-color: gray;
    border-right-width: 2px;
}

.scheduleUpper, .scheduleMain {
    display: flex;
    flex-direction: row;
}
.scheduleUpper{
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 2px;
    max-height: 53px;
}
.scheduleMain{
    overflow-y: scroll;
    position: relative;
    scrollbar-width: thin;
}

.column{
    flex-basis: 0;
    flex-grow: 1;
    min-width: 10ch;
}

.scheduleOverlay .column{
    padding-right: 2px;
    box-sizing: border-box;
}

.scheduleDays {
    width: 95%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.scheduleUpperDay{
    flex-grow: 1;
}

.timeColumn{
    width: 5%;
    height: inherit;
    min-width: 50px;
}
.hour{
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 2px;

    height: 64px; /*4 rem = 64px*/
}
.hourNumber{
    border-right: 2px solid gray;
    min-width: 50px;
    width: 5%;
}

.hourContent{
    display: flex;
    flex-direction: column;
}

.halfHourContent:first-child{
    border-bottom: 1px solid lightgray;

}
.halfHourContent {
    flex-basis: 0;
    flex-grow: 1;
}

.dayColumn{
    border-right: 2px solid gray;
}