services:
  planni-frontend:
    image: coldblade2000/planni-frontend:latest
    stdin_open: true
    container_name: planni-frontend

    ports:
      - "${REACT_APP_PORT}:${REACT_APP_PORT}"

    env_file:
      - .env

    networks:
      - red_planni

networks:
  red_interna: { }
