.toolbarbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #3a4aa7;
    border: 3px solid #313f8f;
    border-radius: 5px;
    padding: 8px;
    align-items: center;
}

