#menu li.dayEnabled {
    font-weight: bold;
    background-color: #1976d2;
    color: white;
}

.dayDisabled {
    font-weight: normal;
    color: #1976d2;

    background-color: white;
}

ul#menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    box-sizing: border-box;

}

#menu li {
    box-sizing: border-box;
    display: inline;
    padding: 6px 0.5rem;
    border: 1px solid #1976d2;
    z-index: 2;
    width: 100%;

}
      